html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.nav-bar {
  margin: 5px;
  list-style-type: none;
  display: flex;
  position: sticky;
  height: 4em;
  top: 0px;
  background-color: white;
  border-radius: 20px;
}

li {
  float: left;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
a:hover {
  color: black;
}
a {
  text-decoration: none;
  color: purple;
}
.body {
  background-image: url(background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.workspace {
  list-style-type: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.workspace {
  color: aqua;
}
.section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: black;
}
.text {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.section h1 {
  text-align: center;
  font-size:50px;
}
.section img {
  height: 60vh;
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin:30px;
  padding: 30px;

}
.section p {
  font-family: cursive;
  font-size: 16px;
}
.third h1 {
  text-align: center;
  font-size: 50px;
}
.parent {
  display: flex;
  flex-direction: row;
}
.box1 {
  height: 50vh;
  width: 450px;
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-left: 15px;
}
.box1:hover{
  border: 2px solid aqua;
}
.box1 h1 {
  text-align: center;
  font-family: cursive;
}
.box1 p {
  font-size: 25px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
.box1 img {
  height: 60px;
  width: 60px;
}
.box2 {
  height: 50vh;
  width: 450px;
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 15px;
}
.box2:hover{
  border: 2px solid aqua;
}
.box2 img {
  height: 60px;
  width: 60px;
}
.box2 h1 {
  text-align: center;
  font-family: cursive;
}
.box2 p {
  font-size: 25px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.box3 {
  height: 50vh;
  width: 450px;
  padding-right: 30px;
  margin-right: 60px;
  margin-top: 15px;
}
.box3:hover{
  border: 2px solid aqua;
}
.box3 img {
  height: 60px;
  width: 60px;
}
.box3 h1 {
  text-align: center;
  font-family: cursive;
}
.box3 p {
  font-size: 25px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
.parent box1 img {
  height: 60px;
  width: 60px;
}
.parent box1 h1 {
  text-align: center;
  font-family: cursive;
}
.parent box1 p {
  font-size: 25px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
parent box2 img {
  height: 60px;
  width: 60px;
}
parent box2 h1 {
  text-align: center;
  font-family: cursive;
}
.parent box2 p {
  font-size: 25px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
.parent box3 img {
  height: 60px;
  width: 60px;
}
.parent box3 h1 {
  text-align: center;
  font-family: cursive;
}
.parent box3 p {
  font-size: 25px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
#portfolio h1{
  text-align: center;
  font-size: 50px;
}

